// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_with_errors {
width:100%;
}

.shift {
border:1px solid #ccc;
padding:2px;	 
font-size:10px;
opacity:0.8;
background-color:rgba(255,255,255,0.8);		
	.shiftaction {
	float:right;
	font-size:16px;
	margin-left:3px;
	padding:2px;
	border-radius:2px;
	}
	.shiftaction:hover {
	background-color:#000;
}		
.shiftalertchoice {
	    padding: 2px;
	    border-radius: 2px;
	    background-color: #AA6666;
	    color:#ffffff;
}
}


.shiftdescription {
		  font-style:italic;
}

.shift select, .shift input {
color: #333;
}

.unavailableshift {background-color:#ccc;color:#c00;opacity:.5}

.unavailableshift .shift-start-time::before {
content: "NOT AVAIL";
}