@import 'mediaqueries';

.day_of_week {
    min-height:100px !important;
}

@for $i from 1 through 32 {                                                                                                                                
    .col-#{$i*30}min {                                                                                                                                     
	width: ($i/32) * 100%;}                                                                                                                             
 .start-#{($i - 1)*30}min {                                                                                                                               
	position:absolute;  
	left: (($i - 1)/32) * 100%;}
}      


.col-with-label {
    min-height:20px;
    padding-left:30px;
    position:relative;
    margin-left:3px;
    margin-top:2px;
    margin-bottom:2px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

.col-with-label > .col-label {
    position:absolute;
    top:2px;
    left:20px;
//    width:30px;
    transform: rotate(90deg);
    transform-origin: left top 0;
 }

.col-with-flat-label {
    min-height:20px;
    padding-left:100px;
    position:relative;

 }

.col-with-flat-label > .col-label {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
 }


.col-content {
    position:relative;
 }


.task {
    border-bottom:1px dashed #ccc;
    padding-top:2px;
    padding-bottom:2px;
 }

.task:last-child {
    border-bottom:0px dashed #ccc;
 }

.task:first-child {
    border-bottom:1px dashed #ccc;
 }



.shift {
position:relative;
}


@include breakpoint(md) {

  .sidebar-nav {
position:fixed;
}	
}


#workerlist {
list-style-type:none;
margin-left:0px;
padding-left:0px;
li {
display:inline;
margin-left:10px;
}
}

.workgrouplabel {
padding-left:3px;
}

#weekheader {
text-align:center;
	a {
	color:#ccc;
	}	
}

.fa-heart {display:none;}

.col-900min .fa-heart, .col-930min .fa-heart, .col-1000min .fa-heart {
	    display:inline;
} 


td.grayed, th.grayed {
	background-color: #f5f5f5;
	color:#666;  
}